{
  "watermarks": {
    "lines": [75, 90],
    "functions": [75, 90],
    "branches": [75, 90],
    "statements": [75, 90]
  },
  "branches": 95,
  "lines": 95,
  "functions": 95,
  "statements": 95,
  "check-coverage": true,
  "all": true,
  "reporter": [
    "text",
    "text-summary",
    "html"
  ],
  "include": [
    "src/**/**.js"
  ],
  "exclude": [
    "test/**",
    "src/server.js",
    "src/**/index.js",
    "src/**/**.model.js",
    "src/**/**.route.js",
    "src/**/**.entity.js",
    "src/**/**.util.js"
  ]
}
